* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container,
.profile-container {
  width: 1200px;
  height: 1000px;
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.user-routes-container {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5e788765;
  border-radius: 20px;
}

#add-new-route,
#change-route {
  visibility: hidden;
  margin-top: 50px;
}

.profile-container {
  background-color: #5e788765;
  height: 300px;
  border-radius: 20px;
}

#map {
  width: 900px;
  height: 500px;
}

#add-route-btn {
  margin-top: 10px;
  border-radius: 24px;
  width: 350px;
  margin-left: 70px;
  background-color: #5e788765;
  border-color: #5e788765;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.route-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.duration-distance-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  height: 80px;
  background-color: #5e788765;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
}

.profile-info {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.stats-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-btn,
.update-btn,
.more-btn {
  background-color: #5e788765 !important;
  border: #5e788765 !important;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.add-btn,
.add-btn:hover {
  background-color: white;
  border: white;
}

.new-route {
  visibility: hidden;
}
