* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rout__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.route__wrapper,
.feedback__containetr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.rating__block,
.review__block,
.rout__info,
.review__item {
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  width: 800px;
}

.tomain__btn {
  position: absolute;
  left: 300px;
  top: 80px;
}

.star {
  font-size: 2rem;
  color: #ff9800;
  background-color: unset;
  border: none;
}

.star:hover {
  color: gold;
}