* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../bphoto.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

a {
  text-decoration: none;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

a:hover {
  text-shadow: 5px 5px 10px rgb(28, 27, 27);
}

button:hover {
  text-shadow: 5px 5px 10px rgb(28, 27, 27);
}

button:active,
a:active {
  transform: translate(0px, 2px);
}

.rout__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.route__wrapper,
.feedback__containetr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.rating__block,
.review__block,
.rout__info,
.review__item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border: 2px solid #5e788765;
  border-radius: 20px;
  width: 1000px;
  font-weight: bold;
}

label {
  margin: 10px;
}

.review__form,
.review__block,
.reviews__container,
.rating__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tomain__btn {
  position: absolute;
  left: 300px;
  top: 80px;
}

.star {
  font-size: 2rem;
  color: #ff9800;
  background-color: unset;
  border: none;
}

.star:hover {
  color: gold;
}

.hidden {
  display: none;
}

h2 {
  margin-top: 70px;
}

textarea {
  padding: 15px;
  border: 2px solid #5e788765;
  border-radius: 20px;
}

.btn__my {
  border-radius: 8px;
  width: 180px;
  background-color: #5e788765;
  border-color: #5e788765;
  color: black;
  font-size: 18px;
  padding: 5px;
}

.btnBack {
    background-color: #d7dbdd65;
}

.navbar-nav {
  gap: 100px;
  font-size: 20px;
}

.navbar {
  margin-bottom: 50px;

}
